---
---

@import "{{ site.theme }}";

.split {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
        flex-direction: column; 
    }

    figure {
        flex-basis: 50%;
    }
}